/* * {
  border: 1px red solid;
} */

body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5% 20%;
  background-color: #67b49b;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
  margin: 20px 0 10px;
}

#big-container {
  flex-grow: 1;
  background-color: #f1a9f9;
  border-radius: 30px;
}

#funcionamento {
  margin: 0 0 10px;
  text-align: center;
}

#list-section {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  margin: 0 10%;
  border-radius: 10px;
}

#lista-tarefas {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.add-task-section {
  display: flex;
  justify-content: center;
  margin: 2% 0 3%;
}

.add-task-div {
  display: flex;
  justify-content: center;
  width: 50%;
}

#funcs-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

#manage-selected {
  display: flex;
  flex-direction: column;
  width: 33%;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

}

#manage-selected span{
  text-align: center;
  width: fit-content;
}

#manage-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
}

#manage-buttons > * {
  margin: 5% 2% 0;
  border-radius: 20px;
}

#save-section {
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
}

.clicked {
  background-color: gray;
}

.completed {
  text-decoration: line-through solid black;
}

.list-item {
  min-width: 200px;
  text-align: center;
}
